/* HOJA DE ESTILOS ***************************************************************************************/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

#panel{
border-style:solid;
border-color:black;
margin:auto;
widht:80%;
display:grid;
grid-template-columns: 100%;

}

#dash{
margin:auto;
}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

#panel{
border-style:solid;
border-color:black;
margin:auto;
widht:80%;
display:grid;
grid-template-columns: 100%;

}


#dash{
margin:auto;
}

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

#panel{
border-style:solid;
border-color:black;
margin:auto;
widht:80%;
display:grid;
grid-template-columns:40% 50%;

}


#dash{
margin:auto;
margin-right:1px;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

#panel{
border-style:solid;
border-color:black;
margin:auto;
widht:80%;
display:grid;
grid-template-columns:40% 50%;

}

#dash{
margin:auto;
margin-right:1px;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	
#panel{
border-style:solid;
border-color:black;
margin:auto;
widht:80%;
display:grid;
grid-template-columns:40% 50%;

}

#dash{
margin:auto;
margin-right:1px;
}
}


/*POR TIPO***********************************************************************************************/

body {
  background-color: #e5e5e5;
  color: #0a3871;
  text-align: center;
  margin:auto;
}

footer {
  width: 85%;
  text-align: right;
}

div {

  width: 100%;
  margin:auto;  
  margin-top: 1rem;
}

/* POR CLASE ***********************************************************************************************/

.titulo {
  padding: 15px;
  width: 60vw;
  margin: auto;
}

.btn {
  border: 0;
  color: white;
  font-weight: bold;
  background-color: blue;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 0.5em;
}

.btn:active {
  transform: translateY(4px);
}

.text-input {
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5em;
  width: 30%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}

/*POR ID*******************************************************************************************************************/

#cantdeIntentosVerde {
  color: green;
  font-size: 45px;
  
}

#cantdeIntentosRojo {
  color: red;
  font-size: 45px;
  
}
#logo {
  border-radius: 50%;
  height: 105px;
  width: auto;
  display: block;
  margin: auto;
  margin-bottom: 1rem;
}

#section-juego {
  margin: auto;
  width: 85%;
  margin-top: 1rem;
}
